body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-white {
  color: white;
}

.text-blue {
  color:#4a4fdd;
}

.text-red {
  color: #e60505;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.border-0 {
  border: 0;
}

.inline-block {
  display: inline-block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.card-item {
  color: black;
  /* background-color: blueviolet; */
  padding: 5px;
  flex-direction: column;
  color: #41B3A3;
  /* border: 2px solid black; */
  /* margin-bottom: 220px; */
}

.text-turquoise {
  color: #41B3A3;
}

.text-light-pink {
  color: #ca889d;
}

.text-light-orange {
  color: #E27D60;
}

.font-family-cursive {
  font-family: cursive;
}

.ml-11p {
  margin-left: 11%;
}

.w-1p {
  width: 1%;
}

.mt-240 {
  margin-top: 240px;
}

.my-header {
    position: relative;
}

.my-header > img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.my-header > p {
    margin: 0;
    background-color: black;
    opacity: 50%;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    bottom: 0;
    padding: 10px;
}

.w-15p {
  width: 15%;
}

.w-20p {
  width: 20%;
}

.mt-30px {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.ml-6p {
  margin-left: 6%;
}
.font-size-20px {
  font-size: 20px;
}

.back-red {
  background: #dc2d2d;
}

.pad-10px {
  padding: 10px;
}

.brd-radius-7px {
  border-radius: 7px;
}

.back-white {
  background: #ffffff;
}

.w-2p {
  width: 2%;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}

.self-slider {
  display: flex;
  flex-direction: column;
}
