body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* HEADER */
.main-navigation {
  width: 80%;
  background-color: burlywood;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-navigation li {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* FOOTER */


/***********HOT SHORT STYLES LIKE A TILEWIND**********/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text-white {
  color: white;
}

.text-blue {
  color:#4a4fdd;
}

.text-red {
  color: #e60505;
}

.text-turquoise {
  color: #41B3A3;
}

.text-light-pink {
  color: #ca889d;
}


/* TODO REMOVE */
.self-slider {
  display: flex;
  flex-direction: column;
}
